@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
/* start dashboard  */
.navbar-brand .logo {
    width: 50px;
}

.dropdown-menu {
    width: 200px;
}

.avator {
    width: 50px;
}

.sidebar {
    /* background-color: rgba(67, 55, 59, 0.8); */
    height: 110vh;
}
/* end dashboard */

.box {
    height: 150px;
}

.one {
    background-color: tomato;
}

.two {
    background-color: skyblue;
}

.three {
    background-color: rgb(140, 202, 46);
}

.four {
    background-color: violet;
}
